{% extends "leagues/base.html" %}
{% block title %}Sports Leagues - Level 2{% endblock %}
{% block content %}
<h1>Level 2</h1>
<hr>
<h3>1. Find all teams in the Atlantic Soccer Conference</h3>
<ol>
	{% for team in atlantic_soccer_league_teams %}
	<li>{{ team.location }} {{ team.team_name }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>2. Find all (current) players on the Boston Penguins</h3>
<ol>
	{% for player in boston_penguins_players %}
	<li>{{ player.first_name }} {{ player.last_name }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>3. Find all (current) players in the International Collegiate Baseball Conference</h3>
<ol>
	{% for player in icbc_league_players %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{ player.curr_team.location }} {{ player.curr_team.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>4. Find all (current) players in the American Conference of Amateur Football with last name "Lopez"</h3>
<ol>
	{% for player in acaf_league_lopez_player %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{ player.curr_team.location }} {{ player.curr_team.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>5. Find all football players</h3>
<ol>
	{% for player in all_football_players %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{ player.curr_team.location }} {{ player.curr_team.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>6. Find all teams with a (current) player named "Sophia"</h3>
<ol>
	{% for team in player_sophia_teams %}
	<li>{{ team.location }} {{ team.team_name }} ({{ team.curr_players.first_name }} {{ team.curr_players.last_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>7. Find all leagues with a (current) player named "Sophia"</h3>
<ol>
	{% for league in player_sophia_leagues %}
	<li>{{ league.name }} ({{ league.teams.location }} {{ league.teams.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>8. Find everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h3>
<ol>
	{% for player in flores_not_wr_team_players %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{player.curr_team.location}} {{player.curr_team.team_name}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
{% endblock %}