{% extends "leagues/base.html" %}
{% block title %}Sports Leagues - Level 2{% endblock %}
{% block content %}
<h1>Level 2</h1>
<hr>
<h3>1. Find all teams in the Atlantic Soccer Conference</h3>
<ol>
	{% for team in atlantic_soccer_league_teams %}
	<li>{{ team.location }} {{ team.team_name }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>2. Find all (current) players on the Boston Penguins</h3>
<ol>
	{% for player in boston_penguins_players %}
	<li>{{ player.first_name }} {{ player.last_name }}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>3. Find all (current) players in the International Collegiate Baseball Conference</h3>
<ol>
	{% for player in icbc_league_players %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{ player.curr_team.location }} {{ player.curr_team.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>4. Find all (current) players in the American Conference of Amateur Football with last name "Lopez"</h3>
<ol>
	{% for player in acaf_league_lopez_player %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{ player.curr_team.location }} {{ player.curr_team.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>5. Find all football players</h3>
<ol>
	{% for player in all_football_players %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{ player.curr_team.location }} {{ player.curr_team.team_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>6. Find all teams with a (current) player named "Sophia"</h3>
<ol>
	{% for player in teams_sophia_player %}
	<li>{{ player.curr_team.location }} {{ player.curr_team.team_name }} ({{ player.first_name }} {{ player.last_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>7. Find all leagues with a (current) player named "Sophia"</h3>
<ol>
	{% for player in leagues_sophia_player %}
	<li>{{ player.curr_team.league.name }} ({{ player.first_name }} {{ player.last_name }})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>8. Find everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h3>
<ol>
	{% for player in flores_not_wr_team_players %}
	<li>{{ player.first_name }} {{ player.last_name }} ({{player.curr_team.location}} {{player.curr_team.team_name}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<hr>
<h1 id="level_3">Level 3</h1>
<hr>
<h3>1. Find all teams, past and present, that Samuel Evans has played with</h3>
<ol>
	{% for team in allTeams_sam_evans_player %}
	<li>{{team.location}} {{team.team_name}}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>2. Find all players, past and present, with the Manitoba Tiger-Cats</h3>
<ol>
	{% for player in allPlayers_MTC_team %}
	<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>3. Find all players who were formerly (but aren't currently) with the Wichita Vikings</h3>
<ol>
	{% for player in ex_WV_players %}
	<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>4. Find every team that Jacob Gray played for before he joined the Oregon Colts</h3>
<ol>
	{% for team in allExTeams_jacob_gray_player %}
	<li>{{team.location}} {{team.team_name}}</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>5. Find everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h3>
<ol>
	{% for player in joshua_played_AFABP_player %}
	<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>6. Find all teams that have had 12 or more players, past and present.  (HINT: Look up the Django `annotate` function.)</h3>
<ol>
	{% for team in 12plus_allTime_teams %}
	<li>{{team.location}} {{team.team_name}} ({{team.all_players.count}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
<h3>7. Show all players, sorted by the number of teams they've played for</h3>
<ol>
	{% for player in teams_played_player %}
	<li>{{player.first_name}} {{player.last_name}} ({{player.all_teams.count}})</li>
	{% empty %}
    <h6>No data</h6>
	{% endfor %}
</ol>
{% endblock %}